.content {
    align-items: center;
}

.card-user {
    cursor: pointer;
}

.shadow-lg {
    border-color: black;
}

.card-img-top {
    width: 150px;
    height: 150px;
    display:block;
    margin:auto;
}